
@{
    ViewBag.Title = "Experiences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¡Experiencias!</h2>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="section-heading">BigData en Granada</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id molestie ligula. Suspendisse potenti. 
                    Curabitur lorem tellus, rhoncus non elit nec, aliquet commodo metus. Vivamus a augue nec lacus bibendum aliquam
                     eu non eros. Proin congue nibh at felis blandit hendrerit. Orci varius natoque penatibus et magnis dis parturient 
                    montes, nascetur ridiculus mus. Proin egestas vitae felis mattis iaculis. Integer sit amet auctor mauris, 
                    et consequat elit. Sed lobortis tellus urna. Aenean in maximus urna. Vivamus lectus arcu, ultricies in dui ut,
                     bibendum venenatis tortor. Phasellus tempus urna vitae lorem venenatis mollis. Nullam tempor id nunc sit amet
                     tristique. Mauris a neque accumsan, suscipit nisl id, fringilla tellus. 
                </p>
                <span class="caption text-muted">
                    "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                </span>

                <p>
                    Publicado por
                    <a href="#">Cindy Contador</a>
                </p>
            </div>

            <div class="col-lg-8 col-md-10 mx-auto">
                <h2 class="section-heading">Gestión de proyectos en México</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id molestie ligula. Suspendisse potenti.
                    Curabitur lorem tellus, rhoncus non elit nec, aliquet commodo metus. Vivamus a augue nec lacus bibendum aliquam
                    eu non eros. Proin congue nibh at felis blandit hendrerit. Orci varius natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Proin egestas vitae felis mattis iaculis. Integer sit amet auctor mauris,
                    et consequat elit. Sed lobortis tellus urna. Aenean in maximus urna. Vivamus lectus arcu, ultricies in dui ut,
                    bibendum venenatis tortor. Phasellus tempus urna vitae lorem venenatis mollis. Nullam tempor id nunc sit amet
                    tristique. Mauris a neque accumsan, suscipit nisl id, fringilla tellus.
                </p>
                <span class="caption text-muted">
                    "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                </span>

                <p>
                    Publicado por
                    <a href="#">Patricio Soto</a>
                </p>
            </div>
        </div>
    </div>
</article>

