
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Bienvenido Admin. Por ahora puedes agregar más roles de usuario, pronto podrás disfrutar de tu modulo de perfil</h1>
    <br />
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
}
else
{
    <h2>  Bienvenido <strong>@ViewBag.Name</strong> :) . Pronto podrás disfrutar de tu modulo de perfil </h2>
}  