@model IEnumerable<Portafolio.Models.Program>

@{
    ViewBag.Title = "PublicatedPrograms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Programas publicados</h2>

<table class="table">
    <tr>
        <th>
            Periodo
        </th>
        <th>
            Programa
        </th>
        <th>
            Descripción
        </th>
        <th>
            Cupos disponibles
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Period.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spaces)
        </td>
    </tr>
}

</table>
