@{
    ViewBag.Title = "Conócenos";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    El Centro de Estudios “Montreal“ (CEM) es una organización de educación superior que forma profesionales en diversas áreas tecnológicas, dentro de sus actividades se encuentra la formación de estudiantes en el extranjero, en centros de estudios de determinado países, que actúan como organizaciones locales (CEL).<br /><br />
    En los últimos años, la posibilidad de cursar estudios en el extranjero ha tomado relevancia, toda vez que la experiencia que logran los estudiantes es valorada en el mercado.<br /><br />
    El Centro de Estudios “Montreal” (CEM) tiene convenios con diversos centros de estudios (CEL) con los cuales intercambia estudiantes para cursos de capacitación, debiendo efectuar las coordinaciones académicas y logísticas para proporcionar una estadía segura y en un ambiente acorde a la formación del estudiante.
</p>

<a href="/home/contact" class="btn btn-info">Obtener más información</a>
