@{
    ViewBag.Title = "Home Page";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('vendor/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Centro De Estudios Montreal</h1>
                    <span class="subheading">Programas de intercambio</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="jumbotron">
    <h1>Programas de Intercambio</h1>
    <p class="lead">
        El Centro de Estudios “Montreal“ (CEM) es una organización de educación superior que forma profesionales en diversas áreas tecnológicas, dentro de sus actividades se encuentra la formación de estudiantes en el extranjero, en centros de estudios de determinado países, que actúan como organizaciones locales (CEL).<br /><br />
        En los últimos años, la posibilidad de cursar estudios en el extranjero ha tomado relevancia, toda vez que la experiencia que logran los estudiantes es valorada en el mercado.<br /><br />
        El Centro de Estudios “Montreal” (CEM) tiene convenios con diversos centros de estudios (CEL) con los cuales intercambia estudiantes para cursos de capacitación, debiendo efectuar las coordinaciones académicas y logísticas para proporcionar una estadía segura y en un ambiente acorde a la formación del estudiante.
    </p>

    <p><a href="/programs" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Centros de estudios locales</h2>
        <p>
            Centro de estudios Montreal cuenta con diversas instituciones en distintos países que estan esperando
            para ayudar a potenciar tu carrera profesional.<br /><br />
            ¡Descubre los grandes centros de estudio que estan esperandote!
        </p>
        <p><a class="btn btn-default" href="/studycenters">Ver centros de estudio &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>¡Experiencias!</h2>
        <p>
            Lee las experiencias de los estudiantes que cumplieron su sueño de estudiar en el extranjero gracias a Centro de estudios Montreal
        </p>
        <p><a class="btn btn-default" href="/experiences">Leer experiencias &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registrate</h2>
        <p>
            Puedes registrarte muy facilmente como estudiante o como la familia que va a recibir a un estudiante durante los meses de estudio.<br /><br />
            ¡Anímate a vivir esta nueva experiencia con Centro de estudios Montreal!
        </p>
        <p><a class="btn btn-default" href="/account/register">¡Registrarse! &raquo;</a></p>
    </div>
</div>